body {
    min-height: 100vh;
    position: relative;
}

.footer {
    color: #f2f2f2;
    height: 200px;
    background: #2e3233;
    padding: 25px 0;
    min-height: 250px
}

.footer img {
    width: 72px;
    height: 25px;
    vertical-align: text-bottom
}

.footer h3 {
    font-family: 'Lato', sans-serif !important;
    letter-spacing: 2.2px;
    float: right;
    text-align: center;
    font-size: 1rem;
    line-height: 42px;
    font-weight: 500;
}

.social {
    float: left;
    text-align: center;
}

.social>a {
    display: inline-block;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 1.5rem;
    border-radius: 8px;
    border: 1px solid;
    margin-right: 1px;
}

@media screen and (min-width:568px) {
    .footer {
        min-height: 200px
    }
}

@media screen and (min-width:768px) {
    .social {
        text-align: left;
        margin-top: 15px
    }
    .social>a {
        margin-right: 15px;
    }
    .footer h3 {
        text-align: right
    }
    .footer {
        height: 120px
    }
}

.social>a:hover {
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}

.social>a.sc-facebook:hover {
    background: #3B5998;
    border-color: #3B5998
}

.social>a.sc-twitter:hover {
    background: #0084b4;
    border-color: #0084b4;
}

.social>a.sc-google:hover {
    background: #d34836;
    border-color: #d34836;
}

.social>a.sc-instagram:hover {
    background: #8a3ab9;
    border-color: #8a3ab9
}
